<div ng-app="app" ng-cloak>
    <div ng-controller="fsitems as vm" ng-view="fsitems" class="row">
        <div class="col-md-12">
            <h3>{{vm.title}}</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="Current path" style="padding: 17px 0px 5px 0px ">
                    <h3><span style="font: 600 16px arial">Current path:&nbsp;&nbsp;</span><span style="color: darkgrey; font: 500 16px arial">{{vm.fsitems[0].FileName}}</span></h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info active">
                        <div class="row">
                            <div class="col-lg-8">name</div>
                            <div class="col-lg-2">size (kb)</div>
                            <div class="col-lg-2"></div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-show="vm.fsitems.length === 0">no files</li>
                    <li class="list-group-item"><a href="" ng-click=vm.load(vm.fsitems[0].Attribute) style='text-decoration : underline'>..</a></li>
                    <li ng-repeat="fsitem in vm.fsitems.slice(1)" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-8"><a href="" ng-click=vm.load(vm.fsitems[0].FileName+fsitem.FileName) ng-style="fsitem.isDirectory === true ? { 'text-decoration':'none'} : { 'text-decoration':'underline' }">{{fsitem.FileName}}</a></div>
                            <div class="col-lg-2">{{fsitem.Attribute}}</div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-xs btn-sm" ng-click="vm.edit(vm.fsitems[0].FileName+'/'+fsitem.FileName)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="vm.remove(vm.fsitems[0].FileName+'/'+fsitem.FileName)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <eg-app-status></eg-app-status>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/app")